<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="securityMapper">

	<select id="list" resultType="com.HANIUM.vo.DAVO" parameterType="java.util.HashMap">
		SELECT `id`, `CRI_SYSTEM_NO`, `DA_CODE`, `DA_NAME`, `DA_FUNCTION`, `DA_COMM`, `DA_SUPPORT_FUNC`, `DA_FUNC_TYPE_CODE`, `SAFETY_LEVEL_CODE`, `DIGITAL_OR_NOT_CODE`
			,`CYBER_ATTACK_CODE`, `COMM_FUNC_CODE`, `STORAGE_CODE`, `HMI_CON_CODE`, `HMI_CHANGE_CODE`, `IS_CRITICAL`, `CDA_TYPE`
			
		FROM DAList;
	</select>
	
		<select id="getSecurityEva" resultType="com.HANIUM.vo.SecurityEvaVO" parameterType="java.util.HashMap">
		SELECT `CDA_CODE`, `EVA_DONE_YN`, `CONTENT`, `COMMENT`, `PERIOD`
		FROM SecurityEva;
	</select>
	
		<select id="getInsAlterList" parameterType="String" resultType="com.HANIUM.vo.InspectionResultVO">
	SELECT i.id, i.Cda_mapping, st.CODE_TYPE_NAME AS inspect_group,
	 si.ITEM AS inspect_group_list, si.CONTENT, i.Alter_measure
	FROM InspectionList i 
		INNER JOIN Standards st ON i.Inspect_group = st.CODE_TYPE_NO
	    INNER JOIN StandardIns si ON i.Inspect_group_list = si.ID
	WHERE Cda_mapping = #{Cda_mapping}
	GROUP BY i.id;
	</select>
	
	<insert id="insertEva" parameterType="java.util.HashMap">
		INSERT INTO SecurityEva
		(CDA_CODE, EVA_DONE_YN, CONTENT, COMMENT, PERIOD)
		VALUES (#{cda_code}, #{eva_done_yn}, #{content}, #{comment}, #{period})
	</insert>
	
	<insert id="insertNoncon" parameterType="java.util.List">
		INSERT INTO Nonconfirm(CDA_CODE, NONCON_INS_ID, SOLUTION, NONCON_PERIOD)
		VALUES 
		<foreach collection="list" item="item" separator=",">
			(#{item.cda_code}, #{item.noncon_ins_id}, #{item.solution}, #{item.noncon_period})
		</foreach>
		
	</insert>
	
	
	
	
	
	
</mapper>
<!-- CRI_SYSTEM_NO int(11) 
DA_CODE varchar(35) 
DA_NAME varchar(7) 
DA_FUNCTION text 
DA_COMM int(11) 
DA_SUPPORT_FUNC int(11) 
DA_FUNC_TYPE_CODE int(11) 
SAFETY_LEVEL_CODE int(11) 
DIGITAL_OR_NOT_CODE int(11) 
CYBER_ATTACK_CODE int(11) 
COMM_FUNC_CODE int(11) 
STORAGE_CODE int(11) 
HMI_CON_CODE int(11) 
HMI_CHANGE_CODE int(11) 
IS_CRITICAL int(11) 
CDA_TYPE


id int(11) AI PK 
CDA_CODE varchar(35) 
EVA_DONE_YN int(1) 
CONTENT text 
COMMENT text 
PERIOD int(11) -->